<%- include("../includes/head.ejs") %>
<section class="w-full h-full">
  <div class="w-1/2 max-lg:w-3/4 max-md:w-4/5 max-sm:w-full h-full mx-auto">
    <header
      class="w-full h-14 px-3 flex justify-start items-center border-b-2 border-zinc-950">
      <a
        href="/"
        class="bg-black size-10 flex justify-center items-center text-white mr-2">
        <i class="fa fa-arrow-left"></i>
      </a>
      <h1 class="text-xl">Create a new account</h1>
    </header>
    <form action="/signup" method="post" class="w-full p-3">
      <div class="flex flex-col mb-2">
        <label for="username" class="text-zinc-500 mb-1">Username</label>
        <input
          type="text"
          name="username"
          class="px-3 py-1 border-2 border-zinc-400 outline-none focus:border-zinc-950"
          required />
      </div>
      <div class="flex flex-col mb-2">
        <label for="email" class="text-zinc-500 mb-1">Email</label>
        <input
          type="text"
          name="email"
          class="px-3 py-1 border-2 border-zinc-400 outline-none focus:border-zinc-950"
          required />
      </div>
      <div class="flex flex-col mb-2">
        <label for="password" class="text-zinc-500 mb-1">Password</label>
        <input
          type="password"
          name="password"
          class="px-3 py-1 border-2 border-zinc-400 outline-none focus:border-zinc-950"
          required />
      </div>
      <button
        class="w-full py-2 block mx-auto bg-zinc-950 text-white border border-zinc-950">
        Sign Up
      </button>
    </form>
    <p class="text-center">
      Already have an account?
      <a class="text-indigo-500 hover:underline" href="/auth/login">
        Login here
      </a>
    </p>
  </div>
</section>
<%- include("../includes/foot.ejs") %>
