</section>
</main>
<script src="/js/togglePassword.js"></script>
<script src="/js/deleteAccountForm.js"></script>
<script src="/js/deletePostForm.js"></script>
<script src="/js/toggleMenuButton.js"></script>
</body>
</html>