<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" />
    <link rel="stylesheet" href="/css/style.css" />
    <title><%= title %></title>
  </head>
  <body>
    <main class="w-full h-screen overflow-hidden font-bold">
      <nav
        class="w-full h-14 px-3 flex items-center justify-between border-b-2 border-zinc-950">
        <a href="/"><h1 class="text-xl">Dev Diaries</h1></a>
        <ul class="flex items-center gap-3">
          <a href="/" class="">Home</a>
          <% if(isLogin) { %>
          <a href="/admin/create-post" class="font-medium">Upload Post</a>
          <% } %>
          <form class="flex gap-2" action="/search-user/" method="get">
            <input class="px-3 py-1 border-2 border-zinc-400 outline-none focus:border-zinc-950" type="text" name="search_query"
               placeholder="Enter a username" />
            <button class="bg-blue-500 size-10 flex justify-center items-center text-white mr-2">
              <i class="fa fa-search"></i>
            </button>
            </form>
        </ul>
        <ul class="flex items-center gap-3">
          <% if(isLogin) { %>
          <a
            href="/profile/<%= userInfo._id %>"
            class="font-medium size-9 rounded-full overflow-hidden border-2 border-blue-500">
            <img
              class="w-full h-full"
              src="<%= userInfo.profile_img %>"
              alt="<%= userInfo.username %>'s profile image"
              title="Go to profile" />
          </a>
          <% } else { %>
          <a
            href="/login"
            class="px-3 py-1 bg-zinc-950 text-white border border-zinc-950">
            Login
          </a>
          <a href="/signup" class="px-3 py-1 text-black border border-zinc-950">
            Sign Up
          </a>
          <% } %>
        </ul>
      </nav>
      <section class="w-full h-[calc(100%-3.5rem)] overflow-hidden">
