<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" />
    <link rel="stylesheet" href="/css/style.css" />
    <title><%= title %></title>
  </head>
  <body>
    <main class="w-full h-screen overflow-hidden font-bold">
      <nav
        class="w-full h-14 px-3 flex items-center justify-between border-b-2 border-zinc-950">
        <a href="/"><h1 class="text-xl">Dev Diaries</h1></a>
        <ul class="flex items-center gap-3">
          <a href="/" class="">Home</a>
          <% if(isLogin) { %>
          <a href="/admin/create-post" class="font-medium">Upload Post</a>
          <a href="/profile/<%= userInfo._id %>" class="font-medium">Profile</a>
          <% } %>
        </ul>
        <ul class="flex items-center gap-3">
          <% if(isLogin) { %>
            <form action="/logout" method="post">
              <input type="text" name="_csrf" value="<%= csrfToken %>" hidden />
              <button class="px-3 py-1 bg-zinc-950 text-white border border-zinc-950">
                Logout
              </button>
            </form>
          <% } else { %>
          <a
            href="/login"
            class="px-3 py-1 bg-zinc-950 text-white border border-zinc-950">
            Login
          </a>
          <a href="/signup" class="px-3 py-1 text-black border border-zinc-950">
            Sign Up
          </a>
          <% } %>
        </ul>
      </nav>
      <section class="w-full h-[calc(100%-3.5rem)] overflow-hidden">
