<%- include("./includes/head.ejs") %>
<section class="w-full max-h-full p-3 grid grid-cols-5 gap-3 overflow-y-scroll">
  <div class="overflow-hidden">
    <img
      src="https://ichef.bbci.co.uk/news/480/cpsprodpb/a1a0/live/486199a0-391f-11ef-a044-9d4367d5b599.png.webp"
      alt=""
      class="w-full aspect-auto mb-1" />
    <h1 class="text-lg mb-1">Lorem ipsum dolor sit amet.</h1>
    <ul class="flex items-center gap-2">
      <li class="text-sm text-zinc-500">11hr ago</li>
      <li class="text-sm text-zinc-500">Javascript</li>
    </ul>
  </div>
</section>
<%- include("./includes/foot.ejs") %>
