<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/style.css" />
    <title>Dev Diaries | Page Not Found</title>
  </head>
  <body class="w-full h-screen grid place-items-center bg-zinc-50">
    <div>
      <h1 class="text-9xl font-extrabold text-zinc-400">404</h1>
      <p class="text-center font-bold">
        We didn't found <span class="!text-blue-500"><%= url %></span> page.
      </p>
      <a
        class="block w-fit mx-auto my-2 px-3 py-1 bg-blue-500 text-blue-50 rounded-md"
        href="/">
        Back to Home
      </a>
    </div>
  </body>
</html>
